.App {
  text-align: center;
}

.todo-app {
  background-color: #3893cfd4;
  padding: 1.2em;
  border: 1px solid #3893cfd4;
  border-radius: 2px;
  .new-todo{
    display: flex;
    justify-content: space-between;

    align-items: center;
    input{
      width: 80% !important;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #1f47aec7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1f48ae;
}